$canvas-height: 320px;

canvas
{
	border: 1px solid lightgrey;
	cursor: crosshair;
}

.hidden
{
	display: none;
}

.clear-float
{
	clear: both;
}

.color-box
{
	background: black;
	border: 1px solid white;
	height: 30px;
	width: 30px;
}

.color-palette
{
	height: 50px;

	.color-palette-item
	{
		float: left;
		height: 20px;
		margin: 5px 2px;
		width: 20px;
	}
}

.canvas-container
{

	height: $canvas-height;

	&>*
	{
		position: absolute;
	}
}

.action-thumbnail
{
	background-color: grey;
	padding: 10px;
	width: 100%;
	&:not(:first-child)
	{
		margin-top: 10px;
	}
}

.sprite-thumbnail
{
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	height: 96px;
	width: 96px;
	&:not(:first-child)
	{
		margin-left: 10px;
	}
}