canvas
{
	border: 1px solid lightgrey;
	cursor: crosshair;
}

.hidden
{
	display: none;
}

.clear-float
{
	clear: both;
}

.color-box
{
	background: black;
	border: 1px solid white;
	height: 30px;
	width: 30px;
}

.color-palette
{
	height: 50px;

	.color-palette-item
	{
		float: left;
		height: 20px;
		margin: 5px 2px;
		width: 20px;
	}
}

.canvas-container
{
	&>*
	{
		position: absolute;
	}
}