/* line 4, ../sass/stylesheet.scss */
canvas {
  border: 1px solid lightgrey;
  cursor: crosshair;
}

/* line 10, ../sass/stylesheet.scss */
.hidden {
  display: none;
}

/* line 15, ../sass/stylesheet.scss */
.clear-float {
  clear: both;
}

/* line 20, ../sass/stylesheet.scss */
.color-box {
  background: black;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}

/* line 28, ../sass/stylesheet.scss */
.color-palette {
  height: 50px;
}
/* line 32, ../sass/stylesheet.scss */
.color-palette .color-palette-item {
  float: left;
  height: 20px;
  margin: 5px 2px;
  width: 20px;
}

/* line 41, ../sass/stylesheet.scss */
.canvas-container {
  height: 320px;
}
/* line 46, ../sass/stylesheet.scss */
.canvas-container > * {
  position: absolute;
}

/* line 52, ../sass/stylesheet.scss */
.action-thumbnail {
  background-color: grey;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}
/* line 58, ../sass/stylesheet.scss */
.action-thumbnail:not(:first-child) {
  margin-top: 10px;
}

/* line 64, ../sass/stylesheet.scss */
.sprite-thumbnail {
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
/* line 70, ../sass/stylesheet.scss */
.sprite-thumbnail:not(:first-child) {
  margin-left: 10px;
}
