/* line 2, ../sass/stylesheet.scss */
canvas {
  cursor: crosshair;
}

/* line 7, ../sass/stylesheet.scss */
.color-box {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid white;
  background: black;
}
