/* line 2, ../sass/stylesheet.scss */
canvas {
  border: 1px solid lightgrey;
  cursor: crosshair;
}

/* line 8, ../sass/stylesheet.scss */
.hidden {
  display: none;
}

/* line 13, ../sass/stylesheet.scss */
.clear-float {
  clear: both;
}

/* line 18, ../sass/stylesheet.scss */
.color-box {
  background: black;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}

/* line 26, ../sass/stylesheet.scss */
.color-palette {
  height: 50px;
}
/* line 30, ../sass/stylesheet.scss */
.color-palette .color-palette-item {
  float: left;
  height: 20px;
  margin: 5px 2px;
  width: 20px;
}

/* line 41, ../sass/stylesheet.scss */
.canvas-container > * {
  position: absolute;
}
